#cabecalho {grid-area: a; 
background: 
linear-gradient(47deg,
 rgba(19,21,22,1) 0%, 
 rgba(68,63,61,1) 63%, 
 rgb(115 106 101) 100%);}  
    #navegacao {grid-area: b;background-color: darkblue;}      
    #principal {grid-area: c; background-color: rgb(73, 122, 226);}
    #sidebar   {grid-area: d; background-color: mintcream;}
    #rodape    {grid-area: e; background-color: rgb(70, 179, 37);}

@media screen {                            /* Para dispositivos de quaisquer tamanhos... */
  
    #titulo_pag{
        font-size: 180%;
        line-height: 50px;
        text-align: center;
        line-height: 90px;
        

    }
    #logo {
        width: 16%;
        height: auto;
    }
    #navegacao #lista_navegacao li{
        margin-bottom: 1.2px;
        width: 100%;
    }
}

@media screen and (max-width:480px){
    #logo {
        display: none;
    }
}

@media screen and (min-width:480px) and (max-width:649px) {

    #logo {
        width: 16%;
        height: auto;
    }
    #lista_navegacao{
        display: block;
    }
    /* Adicionar footer aqui */                                                                                   
}

@media screen and (min-width:650px) {
    #lista_navegacao{
        display: flex;
    }
    #navegacao{
        position: sticky;
        top: 0;
    }
    #navegacao #lista_navegacao li{
        width: calc(100%/4);
    }
}

@media screen and (min-width:980px) {
    #titulo_pag{
        font-size: 200%;
    }
    #logo{
        max-width: 100px;
    }
    #lista_navegacao{
        justify-content: flex-end;
    }
}

@media screen and (min-width:1200px){
    #grid_container{
        max-width: 1440px;
    }
    #cabecalho{
        width: 100%;
    }
}
