@media screen and (min-width:1200px){
#cabecalho {grid-area: a; 
background: 
linear-gradient(47deg,
 rgba(19,21,22,1) 0%, 
 rgba(68,63,61,1) 63%, 
 rgb(115 106 101) 100%);}           
#navegacao {grid-area: b;/* background-color: hotpink; */}      
#principal {grid-area: c; background-color: rgb(73, 122, 226);}
#sidebar   {grid-area: d; background-color: mintcream;}
#rodape    {grid-area: e; background-color: rgb(70, 179, 37);}

.grid {                  
     display: grid;
     grid-template: 
     "a a a" auto 
     "b b b" auto 
     "c c d" auto 
     "c c d" auto 
     "e e e" 130px / 5fr 5fr 2fr; 
  }
}

@media screen and (max-width:649px) {
  .grid {
      grid-template-areas:
          "a"
          "b"                   
          "c"
          "d"
          "e";
      grid-template-rows: 30vh auto auto auto;
      }
  .grid #navegacao ul{
  list-style-type: none;
  display: block;
  flex-wrap:wrap;
  justify-content: center;
  }
}