#logo_bsd{
    display: block;
    margin: 15px auto;
    width: 20%;
    max-width: 30%;
    height: auto;
    transition: width 1.2s;
  }   #logo_bsd:hover{
      width: 70%;
}

#ilustracoes{
    background-color: rgb(49, 53, 55);
    border: 2px solid rgb(235,136,15);
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 15px;
  }
  #ilustracoes > figure{
    min-width: 250px;
    width: 50%;
    max-width: 400px;
    height: auto;

    margin: 0 auto;
    padding: 15px;;
  } figure img{
    width: 65%;
    max-width: 100%;
    height: auto;
  } figure .legenda{
    font-size: 14px;
    text-align: justify;
    font-style: italic;
    text-shadow: 1px 0.5px rgb(235,136,15);
}
